# Reminder:
# - A leading slash means the pattern is anchored at the root.
# - No leading slash means the pattern matches at any depth.

# Python files
*.pyc
__pycache__/
.tox/
*.egg-info/
/build/
/dist/
/.eggs/

# Sphinx documentation
/docs/_build/

# IDE project files
/.pydevproject

# vim python-mode plugin
/.ropeproject

# IntelliJ IDEA / PyCharm project files
/.idea
/*.iml

# JS/node/npm/web dev files
node_modules
npm-debug.log

# OS X metadata files
.DS_Store

# Python coverage
.coverage

/.chalice/deployments/
/.chalice/venv/
/.chalice/deployed.json
/.chalice/policy-*.json
/README.rst

# fusillade specific
/oauth2_config.json

# terraform
.terraform
/infra/*/backend.tf
/infra/*/providers.tf
/infra/*/variables.tf
test_service_accounts.json
oauth2_config.json
