swagger: '2.0'
info:
  title: HCA DCP DSS API
  description: Human Cell Atlas Data Coordination Platform Data Storage System API
  version: "0.0.1"
host: hca-dss.czi.technology
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  /files:
    get:
      summary: Query files
      description: |
        Returns a list of files matching given criteria.
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              files:
                type: array
                items:
                  $ref: "#/definitions/File"
            required:
              - files
  /files/{uuid}:
    get:
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the file.
          required: true
          type: string
          pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
        - name: replica
          in: query
          description: Replica to fetch from.
          required: false
          type: string
          enum: [aws, gcs, azure]
        - name: version
          in: query
          description: Timestamp of file creation in RFC3339.  If this is not provided, the latest version is returned.
          required: false
          type: string
          format: date-time
      responses:
        302:
          description: Redirects to a signed URL with the data.
          headers:
            # edits to here should probably be reflected in the 302 section immediately below.
            X-DSS-BUNDLE-UUID:
              description: A RFC4122-compliant ID for the bundle that contains this file.
              type: string
            X-DSS-CREATOR-UID:
              description: User ID who created this file.
              type: integer
              format: int64
            X-DSS-VERSION:
              description: Timestamp of file creation in RFC3339.
              type: string
              format: date-time
            X-DSS-CONTENT-TYPE:
              description: Content-type of the file.
              type: string
            X-DSS-CRC32C:
              description: CRC-32C (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{8}$"
            X-DSS-S3-ETAG:
              description: S3 ETag (in hex format) of the file contents.
              type: string
              pattern: "^[a-z0-9]{32}(-([2-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000))?$"
            X-DSS-SHA1:
              description: SHA-1 (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{40}$"
            X-DSS-SHA256:
              description: SHA-256 (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{64}$"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    head:
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the file.
          required: true
          type: string
        - name: version
          in: query
          description: Timestamp of file creation in RFC3339.  If this is not provided, the latest version is returned.
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: Returns metadata
          headers:
            # edits to here should probably be reflected in the 302 section immediately below.
            X-DSS-BUNDLE-UUID:
              description: A RFC4122-compliant ID for the bundle that contains this file.
              type: string
            X-DSS-CREATOR-UID:
              description: User ID who created this file.
              type: integer
              format: int64
            X-DSS-VERSION:
              description: Timestamp of file creation in RFC3339.
              type: string
              format: date-time
            X-DSS-CONTENT-TYPE:
              description: Content-type of the file.
              type: string
            X-DSS-CRC32C:
              description: CRC-32C (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{8}$"
            X-DSS-S3-ETAG:
              description: S3 ETag (in hex format) of the file contents.
              type: string
              pattern: "^[a-z0-9]{32}(-([2-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000))?$"
            X-DSS-SHA1:
              description: SHA-1 (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{40}$"
            X-DSS-SHA256:
              description: SHA-256 (in hex format) of the file contents in hex.
              type: string
              pattern: "^[a-z0-9]{64}$"
    put:
      summary: Create a file
      description: |
        Create a new file with a given UUID.  The file content is passed in through a cloud URL.  The file on the cloud
        provider must have metadata set reflecting the file checksums and the file content type.
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the bundle.
          required: true
          type: string
          pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
        - name: version
          in: query
          description: Timestamp of file creation in RFC3339.  If this is not provided, the latest version is returned.
          required: false
          type: string
          format: date-time
        - name: extras
          in: body
          required: true
          schema:
            type: object
            properties:
              source_url:
                description: Cloud URL for source data.
                type: string
                pattern: "^(gs|s3|wasb)://"
              bundle_uuid:
                description: A RFC4122-compliant ID for the bundle that contains this file.
                type: string
              creator_uid:
                description: User ID who is creating this file.
                type: integer
                format: int64
            required:
              - source_url
              - bundle_uuid
              - creator_uid
      responses:
        201:
          description: OK
          schema:
            type: object
            properties:
              version:
                description: Timestamp of file creation in RFC3339.
                type: string
                format: date-time
            required:
              - version

  /bundles:
    get:
      summary: Query bundles
      description: |
        Returns a list of bundles matching given criteria.
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              bundles:
                type: array
                items:
                  $ref: "#/definitions/Bundle"
            required:
              - bundles
# TODO: this sort of thing actually belongs in the /bundles query interface.
#    get:
#      operationId: dss.api.bundles.list_versions
#      parameters:
#        - name: uuid
#          in: path
#          description: Bundle unique ID.
#          required: true
#          type: string
#          pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
#      responses:
#        200:
#          description: OK
#          schema:
#            type: array
#            items:
#              type: string
#              format: date-time
#              description: Version of bundle creation in RFC3339.
#        default:
#          description: Unexpected error
#          schema:
#            $ref: '#/definitions/Error'
  /bundles/{uuid}:
    get:
      parameters:
        - name: uuid
          in: path
          description: Bundle unique ID.
          required: true
          type: string
          pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
        - name: version
          in: query
          description: Timestamp of bundle creation in RFC3339.
          required: false
          type: string
          format: date-time
        - name: replica
          in: query
          description: Replica to fetch from.
          required: false
          type: string
          enum: [aws, gcs, azure]
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              bundle:
                $ref: "#/definitions/bundle_version"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Create a bundle
      description: |
        Create a new bundle with a given UUID.  The list of files UUID+versions to be included must be provided.
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the bundle.
          required: true
          type: string
          pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
        - name: version
          in: query
          description: Timestamp of bundle creation in RFC3339.
          required: false
          type: string
          format: date-time
        - name: replica
          in: query
          description: Replica to write to.
          required: true
          type: string
          enum: [aws, gcs, azure]
        - name: extras
          in: body
          required: true
          schema:
            type: object
            properties:
              files:
                type: array
                items:
                  type: object
                  properties:
                    uuid:
                      description: A RFC4122-compliant ID for the file.
                      type: string
                      pattern: "[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}"
                    version:
                      description: Timestamp of file creation in RFC3339.
                      type: string
                      format: date-time
                    name:
                      description: Name of the file.
                      type: string
                      pattern: "^[^/\\\\]+$"
                    indexed:
                      description: True iff this file should be indexed.
                      type: boolean
                  required:
                    - uuid
                    - version
                    - name
                    - indexed
              creator_uid:
                description: User ID who is creating this bundle.
                type: integer
                format: int64
            required:
              - files
              - creator_uid
      responses:
        201:
          description: OK
          schema:
            type: object
            properties:
              version:
                description: Timestamp of bundle creation in RFC3339.
                type: string
                format: date-time
            required:
              - version
definitions:
  File:
    type: object
    properties:
      uuid:
        type: string
        description: File unique ID
        pattern: "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
      name:
        type: string
        description: Filename (unique within a bundle)
      versions:
        type: array
        description: List of versions
        items:
          type: string
    required:
      - uuid
      - name
      - versions
  blob_common_metadata:
    type: object
    description: Common fields between the files list of a bundle and the metadata tracking an unique file.
    properties:
      uuid:
        type: string
        description: A RFC4122-compliant ID for the file.
        pattern: "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
      version:
        type: string
        format: date-time
        description: Timestamp of bundle creation in RFC3339.
      crc32c:
        type: string
        description: CRC-32C (in hex format) of the file contents in hex.
        pattern: "^[a-z0-9]{8}$"
      s3_etag:
        type: string
        description: S3 ETag (in hex format) of the file contents.
        pattern: "^[a-z0-9]{32}(-([2-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000))?$"
      sha1:
        type: string
        description: SHA-1 (in hex format) of the file contents in hex.
        pattern: "^[a-z0-9]{40}$"
      sha256:
        type: string
        description: SHA-256 (in hex format) of the file contents in hex.
        pattern: "^[a-z0-9]{64}$"
    required:
      - uuid
      - version
      - crc32c
      - s3_etag
      - sha1
      - sha256
  file_version:
    type: object
    description: Object describing a single file in the files list of a bundle.
    allOf:
      - $ref: '#/definitions/blob_common_metadata'
      - type: object
        properties:
          name:
            type: string
            description: Filename (unique within a bundle)
          content-type:
            type: string
            description: Content-type of the file.
        required:
          - name
          - content-type
  file_metadata:
    type: object
    description: Object describing a single file in the files list of a bundle.
    allOf:
      - $ref: '#/definitions/blob_common_metadata'
      - type: object
        properties:
          version:
            type: string
            description: Version of the file metadata object.
          bundle_uuid:
            type: string
            description: A RFC4122-compliant ID for the bundle that contains this file.
            pattern: "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
          creator_uid:
            type: integer
            format: int64
            description: User ID who created this file.
        required:
          - version
          - bundle_uuid
          - creator_uid
  Bundle:
    type: object
    properties:
      uuid:
        type: string
        description: Bundle unique ID
        pattern: "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
      versions:
        type: array
        items:
          type: string
          format: date-time
          description: Timestamp of bundle creation in RFC3339.
    required:
      - uuid
      - versions
  bundle_version:
    type: object
    properties:
      uuid:
        type: string
        description: Bundle unique ID
        pattern: "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
      version:
        type: string
        format: date-time
        description: Timestamp of bundle creation in RFC3339.
      files:
        type: array
        items:
          $ref: "#/definitions/file_version"
      creator_uid:
        type: integer
        format: int
        description: User ID who created this bundle manifest.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  FilesGetResponse:
    type: object
    properties:
      files:
        type: string
