swagger: '2.0'
info:
  title: HCA DCP DSS API
  description: Human Cell Atlas Data Coordination Platform Data Storage System API
  version: "0.0.1"
host: dss-api.czi.technology
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  /files:
    get:
      summary: Query files
      description: |
        Returns a list of files matching given criteria.
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              files:
                type: array
                items:
                  $ref: "#/definitions/File"
            required:
              - files
  /files/{uuid}:
    get:
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the file.
          required: true
          type: string
        - name: replica
          in: query
          description: Replica to fetch from.
          required: false
          type: string
        - name: timestamp
          in: query
          description: Timestamp of file creation in RFC3339.  If this is not provided, the latest version is returned.
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: On a HEAD request, returns metadata
          headers:
            # edits to here should probably be reflected in the 302 section immediately below.
            X-DSS-BUNDLE-UUID:
              type: string
              description: A RFC4122-compliant ID for the bundle that contains this file.
            X-DSS-CREATOR-UID:
              type: integer
              format: int64
              description: User ID who created this file.
            X-DSS-TIMESTAMP:
              type: string
              format: date-time
              description: Timestamp of file creation in RFC3339.
            X-DSS-CONTENT-TYPE:
              type: string
              description: Content-type of the file.
            X-DSS-CRC32C:
              type: string
              description: CRC32C of the file contents in hex.
              pattern: "^[A-Za-z0-9]{8}$"
            X-DSS-S3-ETAG:
              type: string
              description: S3 ETag of the file contents.
              pattern: "^[A-Za-z0-9]{32}(-([2-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000))?$"
            X-DSS-SHA1:
              type: string
              description: SHA-1 of the file contents in hex.
              pattern: "^[A-Za-z0-9]{40}$"
            X-DSS-SHA256:
              type: string
              description: SHA-256 of the file contents in hex.
              pattern: "^[A-Za-z0-9]{64}$"
        302:
          description: On a GET request, redirects to a signed URL.
          headers:
            # edits to here should probably be reflected in the 200 section immediately above.
            X-DSS-BUNDLE-UUID:
              type: string
              description: A RFC4122-compliant ID for the bundle that contains this file.
            X-DSS-CREATOR-UID:
              type: integer
              format: int64
              description: User ID who created this file.
            X-DSS-TIMESTAMP:
              type: string
              format: date-time
              description: Timestamp of file creation in RFC3339.
            X-DSS-CONTENT-TYPE:
              type: string
              description: Content-type of the file.
            X-DSS-CRC32C:
              type: string
              description: CRC32C of the file contents in hex.
              pattern: "^[A-Za-z0-9]{8}$"
            X-DSS-S3-ETAG:
              type: string
              description: S3 ETag of the file contents.
              pattern: "^[A-Za-z0-9]{32}(-([2-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000))?$"
            X-DSS-SHA1:
              type: string
              description: SHA-1 of the file contents in hex.
              pattern: "^[A-Za-z0-9]{40}$"
            X-DSS-SHA256:
              type: string
              description: SHA-256 of the file contents in hex.
              pattern: "^[A-Za-z0-9]{64}$"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Create a file
      description: |
        Create a new file with a given UUID.  The file content is passed in through a cloud URL.  The file on the cloud
        provider must have the file checksums set as metadata.
      parameters:
        - name: uuid
          in: path
          description: A RFC4122-compliant ID for the file.
          required: true
          type: string
        - name: extras
          in: body
          required: true
          schema:
            type: object
            properties:
              source_url:
                description: Cloud URL for source data.
                type: string
                pattern: "^(gs|s3|wasb)://"
              bundle_uuid:
                description: A RFC4122-compliant ID for the bundle that contains this file.
                type: string
              creator_uid:
                description: User ID who is creating this file.
                type: integer
                format: int64
              content_type:
                description: Content-type of the file.
                type: string
              timestamp:
                description: Timestamp of file creation in RFC3339.
                type: string
                format: date-time
            required:
              - source_url
              - bundle_uuid
              - creator_uid
              - content_type
      responses:
        201:
          description: OK
          schema:
            type: object
            properties:
              timestamp:
                description: Timestamp of file creation in RFC3339.
                type: string
                format: date-time
            required:
              - timestamp

  /bundles:
    get:
      summary: Query bundles
      description: |
        Returns a list of bundles matching given criteria.
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              bundles:
                type: array
                items:
                  $ref: "#/definitions/Bundle"
            required:
              - bundles
    post:
      summary: Create a bundle
      description: |
        TODO
      responses:
        200:
          description: OK
  /bundles/{uuid}:
    get:
      operationId: dss.api.bundles.list_versions
      parameters:
        - name: uuid
          in: path
          description: Bundle unique ID.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              type: string
              format: date-time
              description: Timestamp of bundle creation in RFC3339.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /bundles/{uuid}/{bundle_version}:
    get:
      parameters:
        - name: replica
          in: query
          description: Replica to fetch from.
          required: true
          type: string
        - name: uuid
          in: path
          description: Bundle unique ID.
          required: true
          type: string
        - name: bundle_version
          in: path
          description: Version of the bundle.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/bundle_version"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  File:
    type: object
    properties:
      uuid:
        type: string
        description: File unique ID
      name:
        type: string
        description: Filename (unique within a bundle)
      versions:
        type: array
        description: List of versions
        items:
          type: string
    required:
      - uuid
      - name
      - versions
  blob_common_metadata:
    type: object
    description: Common fields between the files list of a bundle and the metadata tracking an unique file.
    properties:
      uuid:
        type: string
        description: A RFC4122-compliant ID for the file.
      timestamp:
        type: string
        format: date-time
        description: Timestamp of bundle creation in RFC3339.
      crc32c:
        type: string
        description: CRC-32C of the file contents in hex
      md5:
        type: string
        description: MD5 of the file contents in hex
      sha1:
        type: string
        description: SHA-1 of the file contents in hex
      sha256:
        type: string
        description: SHA-256 of the file contents in hex
    required:
      - uuid
      - timestamp
      - crc32c
      - md5
      - sha1
      - sha256
  file_version:
    type: object
    description: Object describing a single file in the files list of a bundle.
    allOf:
      - $ref: '#/definitions/blob_common_metadata'
      - type: object
        properties:
          name:
            type: string
            description: Filename (unique within a bundle)
          content-type:
            type: string
            description: Content-type of the file.
        required:
          - name
          - content-type
  file_metadata:
    type: object
    description: Object describing a single file in the files list of a bundle.
    allOf:
      - $ref: '#/definitions/blob_common_metadata'
      - type: object
        properties:
          version:
            type: string
            description: Version of the file metadata object.
          bundle_uuid:
            type: string
            description: A RFC4122-compliant ID for the bundle that contains this file.
          creator_uid:
            type: integer
            format: int64
            description: User ID who created this file.
        required:
          - version
          - bundle_uuid
          - creator_uid
  Bundle:
    type: object
    properties:
      uuid:
        type: string
        description: Bundle unique ID
      versions:
        type: array
        items:
          type: string
          format: date-time
          description: Timestamp of bundle creation in RFC3339.
    required:
      - uuid
      - versions
  bundle_version:
    type: object
    properties:
      uuid:
        type: string
        description: Bundle unique ID
      bundle_timestamp:
        type: string
        format: date-time
        description: Timestamp of bundle creation in RFC3339.
      contents:
        type: array
        items:
          $ref: "#/definitions/file_version"
      creator_uid:
        type: integer
        format: int
        description: User ID who created this bundle manifest.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  FilesGetResponse:
    type: object
    properties:
      files:
        type: string
