# DSS environment variables: local configuration file

# Copy this file to environment.local then set your site-specific or deploy-specific environment variable values there.
# These settings override the values in the "environment" file in this directory.
# This file is sourced when you run "source environment".

set -a
# Environment variable assignments (var=value) in "set -a" mode are
# automatically exported.
set +a
