# You should not edit this file directly.  Instead, you should edit requirements-dev.txt.in.
aegea==2.2.1
argcomplete==1.9.4
asn1crypto==0.23.0
aws-xray-sdk==1.0
awscli==1.12.2
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage==0.36.0
Babel==2.5.3
bcrypt==3.1.4
boto==2.48.0
boto3==1.6.0
botocore==1.10.16
cachetools==2.0.1
certifi==2018.1.18
cffi==1.11.2
cgp-bouncer==0.1.0
chalice==1.1.0
chardet==3.0.4
click==6.7
clickclick==1.2.2
cloud-blobstore==2.1.4
colorama==0.3.7
connexion==1.1.15
cookies==2.2.1
coverage==4.4.2
crcmod==1.7
cryptography==2.1.4
dnspython==1.15.0
docker==2.6.1
docker-pycreds==0.2.1
docutils==0.14
domovoi==1.5.8
elasticsearch==5.5.1
elasticsearch-dsl==5.3.0
Faker==0.8.11
fasteners==0.14.1
flake8==3.5.0
Flask==0.12.2
future==0.16.0
google-api-core==0.1.1
google-apitools==0.5.21
google-auth==1.2.1
google-cloud-core==0.28.0
google-cloud-storage==1.8.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
httpie==0.9.9
httplib2==0.11.0
idna==2.6
inflection==0.3.1
ipwhois==1.0.0
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.5
jsonpointer==2.0
jsonschema==2.6.0
keymaker==1.0.3
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
monotonic==1.4
moto==1.1.25
mypy==0.550
nestedcontext==0.0.4
oauth2client==4.1.2
paramiko==2.4.1
pbr==3.1.1
protobuf==3.5.0.post1
psutil==5.4.1
pyaml==17.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
PyNaCl==1.2.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-aws4auth==0.9
requests-http-signature==0.0.3
rsa==3.4.2
rstr==2.2.6
s3transfer==0.1.11
six==1.11.0
swagger-spec-validator==2.1.0
text-unidecode==1.1
tweak==0.6.7
typed-ast==1.1.0
typing==3.5.3.0
uritemplate==3.0.0
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
wrapt==1.10.11
xmltodict==0.11.0
yq==2.3.3
