# Be sure to run "make requirements-dev.txt" after editing this file.
flake8  >= 3.4.1
mypy  >= 0.530
domovoi  >= 1.5.8
chalice  >= 1.1.0
coverage  >= 4.4.1
awscli  >= 1.15.0
crcmod  >= 1.7
httpie  >= 0.9.9
yq  >= 2.3.3
Faker >= 0.8.11
rstr >=2.2.6
click >= 5.7
aegea >= 2.1.9
-r requirements.txt.in
