# You should not edit this file directly.  Instead, you should edit requirements-dev.txt.in.
argcomplete==1.9.3
asn1crypto==0.23.0
aws-xray-sdk==0.94
awscli==1.12.2
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage==0.36.0
boto==2.48.0
boto3==1.4.8
botocore==1.8.3
cachetools==2.0.1
certifi==2017.11.5
cffi==1.11.2
chalice==1.0.4
chardet==3.0.4
click==6.7
clickclick==1.2.2
cloud-blobstore==2.0.0
colorama==0.3.7
connexion==1.1.15
cookies==2.2.1
coverage==4.4.2
crcmod==1.7
cryptography==2.1.3
docker==2.6.1
docker-pycreds==0.2.1
docutils==0.14
domovoi==1.5.1
elasticsearch==5.5.1
elasticsearch-dsl==5.3.0
flake8==3.5.0
Flask==0.12.2
gevent==1.2.2
google-api-core==0.1.1
google-auth==1.2.1
google-auth-oauthlib==0.2.0
google-cloud-core==0.28.0
google-cloud-storage==1.6.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
hca==3.3.0
httpie==0.9.9
idna==2.6
inflection==0.3.1
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.5
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
moto==1.1.25
mypy==0.550
nestedcontext==0.0.4
pbr==3.1.1
protobuf==3.5.0.post1
psutil==5.4.1
puremagic==1.3
pyaml==17.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-aws4auth==0.9
requests-http-signature==0.0.3
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
swagger-spec-validator==2.1.0
typed-ast==1.1.0
typing==3.5.3.0
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
wrapt==1.10.11
xmltodict==0.11.0
yq==2.3.3
