# You should not edit this file directly.  Instead, you should edit requirements-dev.txt.in.
asn1crypto==0.23.0
awscli==1.11.166
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage==0.36.0
boto==2.48.0
boto3==1.4.7
botocore==1.7.24
cachetools==2.0.1
certifi==2017.7.27.1
cffi==1.11.1
chained-aws-lambda==0.0.7
chalice==1.0.3
chardet==3.0.4
click==6.7
clickclick==1.2.2
colorama==0.3.7
connexion==1.1.15
cookies==2.2.1
coverage==4.4.1
crcmod==1.7
cryptography==2.0.3
docker==2.5.1
docker-pycreds==0.2.1
docutils==0.14
domovoi==1.2.6
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
flake8==3.4.1
Flask==0.12.2
google-auth==1.1.1
google-cloud-core==0.27.1
google-cloud-storage==1.4.0
google-resumable-media==0.2.3
googleapis-common-protos==1.5.3
httpie==0.9.9
idna==2.6
inflection==0.3.1
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
moto==1.1.21
mypy==0.530
pbr==3.1.1
protobuf==3.4.0
pyaml==17.8.0
pyasn1==0.3.7
pyasn1-modules==0.1.4
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.5.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
requests-aws4auth==0.9
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
swagger-spec-validator==2.1.0
typed-ast==1.1.0
typing==3.5.3.0
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
xmltodict==0.11.0
