[Unit]
Description=Aegea deploy pilot for %I

[Service]
Environment=GITHUB_OWNER=HumanCellAtlas
Environment=GITHUB_REPO=data-store
Environment=GITHUB_BRANCH=akislyuk-deploytest
Environment='BUILD_COMMAND=virtualenv --python=python3.6 v; source v/bin/activate; pip install -r requirements-dev.txt; source environment; make lint'
Environment='RELOAD_COMMAND=echo No reloading required for this service'
Environment=AWS_CONFIG_FILE=/etc/aws.conf
ExecStart=/usr/bin/aegea-deploy-pilot
ExecReload=/bin/kill -USR1 $MAINPID
StandardOutput=syslog
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
